.body_about{
    height: 213vh;
    overflow-y: hidden;
    width: 100%;
    background-color: #1F1F1F;
}

.li_nav_active{
    background-color: #F3EBDD;
}

.active{
    color: #1F1F1F;
}

.div_about{
    display: flex;
    overflow: hidden;
    padding: 0.5208vw;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5208vw;
    position: fixed;
    top: 0;
    width: 100%;
}

.ab_img, .ab, .st_img, .st{
    background-color: #FF6749;
    height: 100%;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.ab, .st{
    display: flex;
    justify-content: flex-end;
    background-color: #F3EBDD;
    background-image: url(../img/im_ab_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.st{
    background-color: #6AC795;
    background-image: url(../img/im_ab_2.svg);
}

.div_text_ab{
    display: flex;
    flex-direction: column;
    width: 23.2813vw;
    gap: 2.0833vw;
    margin-top: 6.7708vw;
    margin-right: 2.6042vw;
}

.img_ab{
    width: 100%;
    object-fit: cover;
}

.div_bt{
    display: grid;
    gap: 1.5625vw;
}

.div_p{
    display: grid;
    gap: 0.7813vw;
}

h1{
    text-decoration: none;
    color: #1F1F1F;
    font-family: 'h1';
    text-transform: uppercase;
    font-size: 60px;
}

.div_det{
    overflow: hidden;
    color: #F3EBDD;
    text-transform: uppercase;
    background-color: #1F1F1F;
    border-radius: 50px;
    width: fit-content;
}