html, body, .div_main {
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    overscroll-behavior: none;
    background-color: #F3EBDD;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.logo{
    top: 2.0833vw;
    left: 2.6042vw;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    height: 2.0833vw;
    cursor: pointer;
}

.div_main{
    display: flex;
    overflow: hidden;
}

.img_main{
    border-radius: 20px;
    padding: 0.5208vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    bottom: 2.0833vw;
    left: 2.6042vw;
    position: fixed;
    color: #F3EBDD;
    text-transform: uppercase;
}

.div_nav, .div_nav_bl{
    background-color: #1F1F1F;
    border-radius: 50px;
}

.ul_nav{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    overflow:hidden;
    text-align:center;
    padding: 0.2604vw;
    gap: 0.2604vw;
    width: fit-content;
}

.li_nav, .li_nav_active, .li_nav_active_bl{
    list-style: none;
    display: flex;
    padding: 0vw 0.7813vw 0.0015vw 0.7813vw;
    justify-content: center;
    align-items: center;
    height: 1.6667vw;
    overflow:hidden;
    border-radius: 50px;
    line-height: 1.4vw;
}

a{
    text-decoration: none;
    color: #F3EBDD;
    font-family: 'h5_medium';
    font-size: 1.0417vw;
}

li a{ 
    margin-top: 0; 
    transition:0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4); 
}

li a:hover{ 
    margin-top: 1.4vw; 
}

li a:hover:before{ 
    content:attr(data-text);
    display:block;
}

.div_footer, .div_footer_close, .div_sub, .div_footer_bl, .div_footer_close_bl, .div_sub_bl{
    bottom: 2.0833vw;
    right: 2.6042vw;
    overflow: hidden;
    position: fixed;
    color: #F3EBDD;
    text-transform: uppercase;
    background-color: #1F1F1F;
    border-radius: 50px;
    cursor: pointer;
}

.div_footer_bl{
    background-color: #F3EBDD;
}

.footer, .footer_bl{
    background-color: #1F1F1F;
    bottom: 0.5208vw;
    border-radius: 20px;
    left: 0.5208vw;
    right: 0.5208vw;
    overflow: hidden;
    position: fixed;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.5625vw 2.0833vw;
}

.footer_bl{
    background-color: #F3EBDD;
}

.mail, .service, .contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5.7292vw;
}

.foot_h2, .foot_h2_bl{
    text-decoration: none;
    color: #F3EBDD;
    font-family: 'h2_regular';
    text-transform: uppercase;
    font-size: 1.8750vw;
}

.foot_h2_bl{
    color: #1F1F1F;
}

.ser{
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}

.h5_med{
    text-decoration: none;
    color: #797672;
    font-family: 'h5_medium';
    font-size: 1.0417vw;
    text-transform: uppercase;
    cursor: pointer;
}

.social{
    display: flex;
    gap: 0.7813vw;
}

.soc{
    height: 2.2917vw;
    width: 2.2917vw;
    cursor: pointer;
}

.div_footer_close, .div_footer_close_bl{
    position: static;
    color: #1F1F1F;
    text-transform: uppercase;
    background-color: #F3EBDD;
}

.div_footer_close_bl{
    background-color: #1F1F1F;
}

.div_sub, .div_sub_bl{
    color: #1F1F1F;
    text-transform: uppercase;
    background-color: #F3EBDD;
    bottom: 2.2vw;
    right: 72.25vw;
}

.div_sub_bl{
    background-color: #1F1F1F;
}

.a_footer{
    color: #1F1F1F;
}

.a_footer_bl{
    color: #F3EBDD;
}

.imp_email, .imp_email_bl{
    width: 25.2604vw;
}

.imp_email_bl{
    border: 0.0521vw solid #1F1F1F;
    background: #F3EBDD;
}