.body_shop{
    height: 213vh;
    overflow-y: hidden;
    width: 100%;
}

.div_shop{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    transform: translateY(-56.5%);
    align-items: flex-end;
}

.div_text{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 23.2813vw;
    gap: 2.0833vw;
    top: 6.7708vw;
    right: 2.6042vw;
}

h2{
    text-decoration: none;
    color: #1F1F1F;
    font-family: 'h2_medium';
    text-transform: uppercase;
    font-size: 1.8750vw;
}

p{
    text-decoration: none;
    color: #1F1F1F;
    font-family: 'h5_main';
    font-size: 1.0417vw;
    line-height: 1.4583vw;
}

.div_merch{
    display: flex;
    flex-direction: row;
    height: 25vw;
    gap: 0.5208vw;
    margin-bottom: 6.7708vw;
    align-items: flex-end;
    margin-left: 2.6042vw;
    margin-right: 2.6042vw;
    transition: transform_shop 0.1s ease;
}

.merch{
    display: flex;
    flex-direction: column;
    gap: 0.5208vw;
}

.text_merch{
    display: flex;
    flex-direction: row;
    gap: 0.2604vw;
}

.h6_medium{
    text-decoration: none;
    color: #1F1F1F;
    font-family: 'h6_medium';
    font-size: 0.8333vw;
    text-transform: uppercase;
}

.h5_medium{
    text-decoration: none;
    color: #1F1F1F;
    font-family: 'h5_medium';
    font-size: 1.0417vw;
    text-transform: uppercase;
}

.photo_merch{
    height: 15.3646vw;
    width: 15.3646vw;
    border-radius: 20px;
    overflow: hidden;
    background-color: aquamarine;
}