.body_station{
    background-color: #1F1F1F;
}

.div_nav_bl{
    background-color: #F3EBDD;
}

.a_bl{
    color: #1F1F1F;
}

.li_nav_active_bl{
    background-color: #1F1F1F;
}

.active_bl{
    color: #F3EBDD;
}
